          <ul>          
            <li>
              <h2><a href="<% list_books_uri %>">List All Books</a></h2>

              <p>
               Peruse all books.
              </p>
            </li>
            <li>
              <h2><a href="<% search_books_uri %>">Search</a></h2>

              <p>
               Search the database for a specific book or author.
              </p>
            </li>

          </ul>
